body {
    background-color:#ffc2dc;
    margin:0px;
}

header {
    background-color:#ffe5f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:20px;
}

h1,h2,h3,h4,h5,h6,p {
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
}

h1 { 
    font-size: xx-large;
}

p {
    font-size: medium;
    padding-left:10px;
}

h3 { 
    font-size: larger;
    padding-left:10px;
}

h4 {
    font-size: large;
}


.div-background{
    background-color: #ffe5f1;
    padding: 10px;
}

main {
    border-radius: 10px;
}

aside {
    background-color: #ffe5f1;
    border-radius: 10px;
    float:left;
    margin:20px;
    padding:10px; 
}


footer {
    clear: both;
    background-color: #DBCFFD;
    border-radius: 10px;
    padding-left:10px;
}

nav {
    padding: 0px;
    margin: 0px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#EBE6FF;
    width:100%;
}

nav li {
    border:2px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    width:14.28%;
    padding:10px;
    display: block;
    text-align:center;

}


nav li a{
    color:#000000;
    text-decoration: none;
}

nav li:hover{
    background-color: #ffe5f1;
}

.active {
    background-color: #DBCFFD;
}

form {
    background-color: #ffe5f1;
}

table {
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

table td, table th {
    text-align: center;
    width:200px;
    height:100px;
    padding:10px;
}


table tr {
    width:50px;

}

tr:nth-child(even){
    background-color: #F2F2F2;
}


tr:hover{
    background-color:#EBE6FF;
}

th {
    background-color:#ffe5f1;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#alert { 
    background-color: white;
    text-align: center;
    font-size: larger;
    font-style: italic;
}


#logo { 
    float:left;
    margin-right:10px;
}

#title {
    display:inline;
}

.left-col {
    background-color: #ffe5f1;
    margin:10px;
    float:left;
    border-radius: 10px;
    width: 45%;
    padding:10px;
}

.right-col {
    background-color: #ffe5f1;
    float:right;
    margin:10px;
    border-radius: 10px;
    width:45%;
    padding:10px;
}


.carousel-item{
    width: 500px;
    height: 300px;
    margin-left:33%;
    margin-top:10px;
    margin-bottom: 10px;
}


#left-button {
    margin-left:20%;
}

#right-button {
    margin-right: 20%;
}

.gallery-img {
    width:100%;
    height:100%;
}

#img-gallery {
    padding-top: 10px;
    padding-bottom: 10px;
}


#img-gallery.row {
    margin-bottom: 10px;
}

#members-text {
    text-align: center;
}

#login {
    float:right;
}

#news-image {
    float:left;
}

#headline {
    text-align: center;
}

.material-img {
    width: 50%;
    height: 100%;
}

#materials { 
    margin: 10px;
}

#materials .row {
    margin:10px;
}


div iframe {
    width: 25%;
    float: left;
    padding: 10px;
}
